@using MvcKutuphne.Models.Entity
@model List<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>KİTAP SAYFASI</h2>

<div style="margin-top:15px; margin-bottom:15px" >

    <input type="text" class="form-control" placeholder="Aranacak kitabı Giriniz" /> 

</div> 


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Kitap Yazarı</th>
        <th>Yayın Evi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.KATEGORI</td>
            <td>@x.BASIMYIL</td>
            <td>@x.YAZAR1.AD&nbsp @x.YAZAR1.SOYAD</td>
            <td>@x.YAYINEVI</td>
            <td>@x.SAYFA</td>
            <td>@x.DURUM</td>
            <td><a href="/Kitap/KitapSil/@x.ID" class="btn btn-danger">Sil</a>
            <td><a href="/Kitap/KitapGetir/@x.ID" class="btn btn-success">Güncelle</a>  

         
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle/"class="btn btn-primary">Yeni Kitap Ekle</a>
