@model MvcKutuphne.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>KitapEkle</h2>
<form class="form-group" method="post">

    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Kategori</label>
        @Html.DropDownListFor(k => k.KATEGORI, (List<SelectListItem>)ViewBag.dgr1, "Lütfen bir kategori seçiniz", new { @class = "form-control" })

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(k => k.YAZAR, new { @class = "form-control" })
    </div>
    <div></div>
    <div style="margin-top:15px">
        <label> Kitap Yazarı</label>
        @Html.DropDownListFor(k => k.YAZAR, (List<SelectListItem>)ViewBag.dgr2, "Lütfen bir yazar seçiniz", new { @class = "form-control" })

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn- btn-danger">Kitap Ekle</button>
    </div>




</form>
